<h1>Hey <%= @user.username %>!!</h1>
<p>Fill out the rest of your profile!</p>

<%= form_for @user.profile do |f| %>
  <%= f.text_area :bio, placeholder: "Enter your bio..." %>
  <%= f.submit "Save!" %>
<% end %>
