<h1><%= @subject.name %></h1><h4> This forum was created by <%= link_to @subject.profile.user.username, profile_path(@subject.profile.user) %>, <%= time_ago_in_words(@subject.created_at) + ' ago' %></h4>
</br>
<h4>Subject Description</h4>
<p><%= @subject.description %></p>
<hr>
